// COLORS------
$primary-clr-light: #abb92a;
$primary-clr-dark: #581914;
$accent-clr-light: #f4ffd1;
$accent-clr-med: #2d292a;
$accent-clr-dark: #0b0b0b;

// FONTS-------
$heading-font: "Archivo Black", sans-serif;
$comment-font: "Concert One", cursive;
$form-font: "Merriweather", serif;
$content-font: "Roboto", sans-serif;

// FONT SIZES-------
$xl-font: 3rem;
$lg-font: 2rem;
$med-font: 1.5rem;
$sm-font: 1rem;

// PADDING------
$xl-pad: 3rem;
$lg-pad: 2rem;
$med-pad: 1rem;
$sm-pad: 0.5rem;
$xs-pad: 0.25rem;

// BORDER_RADIUS------
$lg-corners: 12px;
$med-corners: 8px;
$sm-corners: 6px;
$xs-corners: 4px;
