@use "master" as m;

/* ------------------- */
/* ------BASE CSS----- */
/* ------------------- */

html {
  font-size: 12px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  color: m.$accent-clr-light;
  background-color: m.$accent-clr-dark;
  position: relative;
}

#page {
  //   width: 95%;
  //   margin: 2rem auto;
}

h1 {
  @include m.heading-theme;
  font-size: m.$xl-font;
}

h2 {
  @include m.heading-theme;
  font-size: m.$lg-font;
}

h3 {
  @include m.heading-theme;
  font-size: m.$med-font;
}

p {
  font-family: m.$content-font;
  font-size: m.$sm-font;
}

label {
  font-size: m.$sm-font;
  font-weight: 700;
  text-transform: uppercase;
}

label,
input,
input::placeholder {
  font-family: m.$form-font;
}

input {
  font-size: m.$sm-font;
  padding: m.$xs-pad m.$sm-pad;
  border-radius: m.$sm-corners;
}

input::placeholder {
  color: rgb(182, 182, 182);
}

button {
  font-size: m.$sm-font;
  text-transform: uppercase;
  padding: m.$sm-pad;
  min-width: 8rem;
  max-width: 8rem;
  font-weight: 700;
  border: 2px solid m.$primary-clr-dark;
  background-color: transparent;
  color: m.$primary-clr-dark;
  border-radius: m.$sm-corners;
}

button:hover {
  cursor: pointer;
  background-color: m.$primary-clr-dark;
  color: m.$accent-clr-light;
}

.landing-container {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-image: url("../_assets/images/rock-band.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  header {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
  }
  main {
    padding: m.$xl-pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    min-height: 75%;
  }
  h1 {
    padding: m.$med-pad;
  }
  img {
    transform: rotate(45deg);
    margin-left: 60px;
  }
  footer {
    max-height: 100px;
    min-height: 100px;
    background-color: m.$primary-clr-dark;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
